@import "../../index.scss";
.home {
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__body {
    flex: 1 1 auto;
    padding: 20px;
    background: $colorDarkWhite;
  }
}
