@import "../../../index.scss";

.navbar {
  background: $colorDark !important;
}

.header {
  padding: 25px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
  }
  &__logo {
    @media (max-width: 992.98px) {
      order: 1;
    }
    img {
      width: 100%;
      object-fit: cover;
      max-width: 120px;
    }
  }
  &__menu {
  }
  &__search {
  }
}

.menu {
  display: flex;
  gap: 25px;
  @media (max-width: 992.98px) {
    order: 2;
  }
  &__icon {
  }
  &__item {
  }
  &__user {
  }
}

.search-header {
  @media (max-width: 992.98px) {
    order: 3;
    min-width: 100%;
    margin-top: 20px;
  }
  display: flex;
  min-height: 40px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  background: $colorLihtDark;
  &__button {
    background: $colorOrange;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 20px;
    }
  }
  &__input {
    font-size: 14px;
    color: $colorWhite;
    &::placeholder {
      font-family: inherit;
      color: $colorWhite;
    }
    background: $colorLihtDark;
    padding: 0 10px;
    border-right: 2px solid darken($colorWhite, 80%);
    font-weight: 300;
    width: 100%;
  }
  &__select {
    @media (max-width: 992.98px) {
      display: none;
    }
    font-size: 14px;
    margin: 0 5px;
    select {
      position: relative;
      color: $colorWhite;
      height: 100%;
      display: block;
      line-height: 1.3;
      box-sizing: border-box;
      background-color: $colorLihtDark;

      &::-ms-expand {
        display: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $colorGray;
  outline: 2px solid $colorOrange !important;
}
.cart {
  @media (max-width: 992.98px) {
    display: none;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  background: $colorOrange;
  border-radius: 6px;
  padding: 8px 10px;
  position: relative;
  span {
    position: absolute;
    color: #000;
    background: $colorWhite;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 5px;
    top: -4px;
    right: -2px;
  }
  &:hover {
    background: lighten($colorOrange, 5%);
  }
  img {
    width: 20px;
  }
}
.location {
  @media (max-width: 992.98px) {
    display: none;
  }
  display: flex;
  line-height: 120%;
  gap: 10px;
  img {
    width: 20px;
  }
  strong {
    color: $colorOrange;
    font-weight: 600;
  }
}
